body {
  font-family: Arial, sans-serif;
  background-color: #030420f1;
  color: #fff;
}

h1 {
  margin-left: 40%;
  margin-right: 35%;
}

main {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  margin-right: 40%;
}

